{% extends "base.html" %}

{% block title %}
Game library
{% endblock %}

{% block body%}
<h1>Some computer games and their Metascore:</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Metascore</th>
        <th>action</th>
    </tr>
{% for i in range(games| length) %}
 <tr>
    <td><a href="/info?game={{i}}">{{games[i].name}}</a></td>
    <td>{{games[i].metascore}}</td>
    <td><a href="/remove/{{i}}">remove</a></td>
 </tr>
{% endfor %}
</table>

<br>
<br>
<h2>Add game to list</h2>
<form action="/add" method="POST">
    <table>
        <tr>
            <td><label for="Title">Title:</label></td>
            <td><input type="text" id="title" name="title"></td>
        </tr>
        <tr>
            <td><label for="Metascore">Metascore:</label></td>
            <td><input type="text" id="metascore" name="metascore"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Lägg till spel"></td>            
        </tr>
    </table>
</form>
{% endblock %}
